*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 600px;
  height: 600px;
  background-color: blue;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}
.play-button{
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  margin-right: 30px;
  border: 3px solid black;
  border-radius: 15px;
  color: white;
  background-color: green;
  cursor: pointer;
}
.play-button:hover{
  color: green;
  background-color: white;
  box-shadow: 5px 5px #e1dede;
}
.box{
  border: 1px solid white;
  aspect-ratio: 1/1;
}
.difficult-box{
  width: calc(100% / 10);
}
.medium-box{
  width: calc(100% / 9);
}
.easy-box{
  width: calc(100% / 7);
}
.box.clicked{
  background-color: rgb(9, 193, 230);
}
.hide{
  display: none;
}